
h2 {
    text-align: center;
}
h3 {
    text-align: right;
}

h4 {
    text-align: left;
}


.cursive {
    font-style: italic;
}

#unique-paragraph {
    font-size: x-large;
    font-family: Courier, monospace;
}

